.card__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


@media only screen and (max-width: 768px) {
  /* For tablets: */
  .card__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .card__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
