.topbar {
  position: sticky;
}

.knowMore {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  white-space: pre;
  background: #0096ff;
  color: #fff;
  font-size: 15px;
}

.knowMoreText {
  margin-top: 4px;
  margin-bottom: 4px;
}

.knowMoreLink {
  color: #fff;
  margin-top: 4px;
  margin-bottom: 4px;
}

.hideKnowMore {
  position: absolute;
  right: 20px;
  top: 4px;
  cursor: pointer;
}

.hideLine {
  width: 2px;
  height: 20px;
  background-color: #fff;
  position: absolute;
}

.hideLine:nth-of-type(1) {
  transform: rotate(45deg);
}

.hideLine:nth-of-type(2) {
  transform: rotate(-45deg);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 0px rgb(219, 219, 219);
  gap: 32px;
  padding: 8px 48px;
}

.brand {
  text-transform: uppercase;
  padding: 0px;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: -2px;
  color: #0084ff;
  transform: scaleY(1.04);
  margin: 0px auto;
  text-shadow: 1px 0px #000;
}

.stories {
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
  margin: -8px auto 0px;
}
.menuItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exploreText {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  min-width: fit-content;
}

.categoriesDropdown {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.secondaryMenuItems {
  display: flex;
}

.about {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  padding: 0px 24px;
  width: 360px;
}

.mainWebsiteLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(269deg, #0048ff, #0096ff);
  color: #fff;
  border-radius: 32px;
  width: 176px;
  height: 40px;
}

.mainWebsiteLink > a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
